.photosCategory {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 20px 10px;
    filter: blur(0px);
}

.top {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}

h1 {
    font-size: 35px;
    position: relative;
    margin: 20px 0;
}

h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(248, 166, 179);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 100px;
    }
}

.pic {
    position: relative;
    height: 210px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: .5s ease;
}

.pic:hover {
    transform: scale(1.08);
}


#container {
    margin-top: 5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 100px;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(1);
    top: 65%;
}

#container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    filter: blur(30px);
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px 5px;
    background-color: #fff;
    box-shadow: 0px, 0px, 19px, 5px rgba(0, 0, 0, 0.19);

}

.open-left {
    height: 100%;
    background: url("")no-repeat center;
    background-size: cover;
    max-block-size: 610px;

}

#left img {
    width: 100%;
    height: 100%;
    background: url("")no-repeat center;
    background-size: cover;
}

.right1 {
    padding: 5% 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 80px;
    border-radius: 3px;
    background-color: rgba(210, 235, 215, 0.7);
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1 rem;
    margin-bottom: 7px;
    margin-top: 7px;
}

.checkboxLabel {
    font-size: 14px;
    margin-right: 13px;

}
.checkbox{
   margin-left: 2px; 

}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
    min-height: 100px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: rgba(210, 235, 215, 0.7);
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
}

.btn:hover {
    background-color: #7fb495;
}

body {
    height: 100%;
}

#close {
    visibility: hidden;
    margin-left: 92%;
    color: #7fb495;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
}
.price{
    margin: 2px;
}
#cakeTprice{
margin: 10px;
}

@media screen and (max-width:1200px){
    .top{
        padding-top: 150px;  
}
}
  @media screen and (max-width:1000px){
    .photosCategory{
        grid-template-columns: repeat(3, 1fr);
    }
    .top {
    padding-top: 150px;
    }
}


@media screen and (max-width:650px){
    .photosCategory{
        grid-template-columns: repeat(2, 1fr);
    }
}


  @media screen and (max-width:500px){
    .photosCategory{
        grid-template-columns: 1fr;
    }
}