*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.navigationBar ul.active{
    color: rgb(248, 166, 179);
}

body{
background-color: rgba(242, 182, 228,.1); 
width: 100%;
height: 100%;
}
.navigationBar{
    background-color: white;
    text-align: center;
    margin-top: -10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navigationBar ul li:hover{
    background: rgba(247, 209, 215,.8);
}
.navigationBar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(248, 166, 179);
}    
.navigationBar ul li{
    width: 180px;
    margin-left: 8px;
    margin-top:15px;
    margin-bottom: 15px;
    padding: 15px;
    z-index: 10;

}
.navigationBar ul li a{ 
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}

.logo img{
    float: left;
    width: 80px;
}

.navigationBar .fa{
    margin-left: 8px;
}

.subMenu1{
    display: none;
}

.navigationBar ul li:hover .subMenu1{
    display: block;
    position: absolute;
    background: rgba(245, 245, 245, 0.8);
    margin-top: 15px;
    margin-left: -15px;
    
}
.navigationBar ul li:hover .subMenu1 ul{
    display: block;
    margin: 10px;
}
.navigationBar ul li:hover .subMenu1 ul li{
    width: 152px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.subMenu1 ul li a{
    color: rgba(0, 0, 0, .8);

}
.subMenu1 ul li a:hover{
    color: rgba(0, 0, 0, .3);
}
.socialLinks a{
 
  padding-right: 8px;
    color: rgb(248, 166, 179);
}
.socialLinks {
    display: -webkit-inline-flex;
    margin-left: 20%;
    color: rgb(248, 166, 179);
}

.footer{
    margin-top: 10%;
    background-color: rgba(0, 0, 0, .8);
    padding: 20px 20px; 
    position: relative;
    width: 100%; 
}

.footerContainer{
    max-width: 1000px;
    float: none;
    margin: 0 auto;
}

.footer ul{
    width: 100%;
    list-style: none;
    
    
}

.footerCol{
    margin: 0 auto;
    width: 25%;
    padding: 0 15px;
}
.row{

    display: flex;
    flex-wrap: wrap;
}

.footerCol  h4{
    margin: 0 auto;
    margin-left: 20%;
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;


}

.footerCol h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footerCol ul li:not(:last-child){
    width: 100%;
    margin-bottom: 10px;

}

.footerCol ul li a{
    margin-left: 20%;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(248, 166, 179);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footerCol ul li a:hover{
    padding-left: 8px;
}




@media screen and (max-width:1000px){
    .navigationBar ul li a{
        font-size: 16px;
      
    }
    
    .navigationBar ul li{
        width: 100px;
        margin-left: 2px;
        margin-top:15px;
        margin-bottom: 15px;
        padding: 15px;
        z-index: 10;
    
    }
       
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
    .logo img{
    width: 70px;
    }
}

@media screen and (max-width:750px){
    .navigationBar ul li a{
        font-size: 12px;
      
    }
    
    .navigationBar ul li{
        width: 80px;
        margin-left: 2px;
        margin-top:15px;
        margin-bottom: 15px;
        padding: 15px;
        z-index: 10;
    
    }
       
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
    .logo img{
    width: 60px;
    }
}


  @media screen and (max-width:600px){
    .navigationBar ul li a{
        font-size: 12px;
      
    }
    
    .navigationBar ul li{
        width: 70px;
        margin-left: 2px;
        margin-top:15px;
        margin-bottom: 15px;
        padding: 15px;
        z-index: 10;
    
    }
       
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
    .logo img{
    width: 50px;
    }
    
}