.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    filter: blur(30px);
}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px, 0px, 19px, 5px rgba(0, 0, 0, 0.19);
}

.left{
    height: 100%;
    background: url("../Static/girl\ ice\ cream\ cake.jpg") no-repeat center;
    background-size: cover;
}

.right{
    padding: 25px 40px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}   

h2:after{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 80px;
    border-radius: 3px;
    background-color: rgba(210, 235, 215, 0.7);
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color:  rgba(230,230,230, 0.6);
    font-size: 1.1 rem;
    margin-bottom: 7px;
    margin-top: 7px;
    transition: .3s;
}

.checkboxLabel{
    font-size: 14px;
    margin-right: 23px;

}





.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color: #fff;
    border:2px solid rgba(30,85, 250, 0.47);
}
.area{
    min-height: 100px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: rgba(210, 235, 215, 0.7);
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btn:hover{
    background-color: #7fb495;
}

body{
    height: 100%;
}
