.photosCategory{
    width: 70%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 20px 10px;
}

.top{
    width: 100%;
    text-align: center;
}

h1{
    font-size: 35px;
    position: relative;
    margin: 20px 0;
}

h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(248, 166, 179);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    animation: animate 4s linear infinite;
}




.section2{
    background-color: rgba(245, 202, 235, 0.365);
    display: grid;
    grid-template-columns: repeat(3,1fr );


}
.section2 h3{
    font-size: 25px;
    color: rgb(91, 90, 90);
    font-weight: 300;
    margin-left: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;

}


.section3{
    background-image: url(../Static/section\ 3\ background.jpg) ;
   
}

.section3 h3{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;


}

.section3 h2{
    text-align: center;
    font-size: 20px;
    padding-bottom: 100px;

}

.section4{
    background-color: rgb(234, 218, 248);
    display: grid;
    grid-template-columns: repeat(3,1fr );
    padding-top: 100px;
    padding-bottom: 100px;
}



.section4 h2{
    padding-left: 14%;
    padding-right: 25%;
    font-size: 25px;
    text-align: center;

}

#i{
color: rgb(65, 65, 65);
padding-left: 25%;
padding-bottom: 80px;
}


@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.pic{
    position: relative;
    height: 210px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.pic img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: .5s ease;
}

.pic img:hover{
    opacity: 0.5;
}
.pic:hover{
    transform: scale(1.08);

}
.pic:hover .categoryName{
    opacity: 1;

}
.categoryName{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  @media screen and (max-width:1000px){
    .photosCategory{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:800px){
    .photosCategory{
        grid-template-columns: repeat(2, 1fr);
    }
}


  @media screen and (max-width:600px){
    .photosCategory{
        grid-template-columns: 1fr;
    }
}
