<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessibility</title>
    <link rel="stylesheet" type="text/css" href="../Static/styleGeneral.css">
    <link rel="stylesheet" href="../Static/styleContact.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <nav class="navigationBar">
        <div class="logo">
            <img src="../Static/logo without.jpg">
        </div>
        <ul>
            <li><a href="home page.html">Home Page</a><i class="fa fa-solid fa-house"></i></li>
            <li><a href="signIn_Up3.html">Sign In/Log In</a><i class="fa fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><a href="#">Birthday Cakes</a><i class="fa fa-solid fa-cake-candles"></i>
                <div class="subMenu1">
                    <ul>
                        <li><a href="girl cakes.html">Girl Cakes</a></li>
                        <li><a href="boy cakes.html">Boy Cakes</a></li>
                        <li><a href="adult cakes.html">Adult Cakes</a></li>
                        <li><a href="num _ letter cakes.html">Number & Letter Cakes</a></li>
                    </ul>
                </div>
            </li>
            <i class="fa-duotone fa-rings-wedding"></i>
            <li><a href="#">Wedding Cakes</a><i class="fa fa-solid fa-gem"></i>
                <div class="subMenu1">
                    <ul>
                        <li><a href="wedding cakes.HTML">Wedding Cakes</a></li>
                        <li><a href="ring cakes.html">Ring Cakes</a></li>
                        <li><a href="bachlorette party cakes.html">Bachelorette Party Cakes</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Our Classics</a><i class="fa fas fa-chart-pie"></i>
                <div class="subMenu1">
                    <ul>
                        <li><a href="pies.html">Pies</a></li>
                        <li><a href="yeast cakes.html">Yeast Cakes</a></li>
                        <li><a href="special cakes.html">Our Specials</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="Contact Us.html">Contact Us</a><i class="fa fa-solid fa-file-signature"></i>
        </ul>
    </nav>
    <div class="container">
        <div class="contact-box">
            <h2>Accessibility</h2>
            <p style="text-align: left; margin: 20px;">Our Baking Addiction has an ongoing commitment to providing our
                content to everyone in our community. As part of these efforts, Our Baking Addiction is dedicated to
                offering digital accessibility to all digital offerings, including our website (the “Website”), for all
                our readers. <br><br>

                To assist in achieving our accessibility goals with respect to the Website, Our Baking Addiction works
                diligently to provide a Website that is operated in a manner that complies with generally-recognized and
                accepted guidelines and/or standards, such as using the Web Content Accessibility Guidelines (WCAG), for
                website accessibility (the “Standards”). <br><br>

                Working with experienced accessibility professionals, and becoming educated in how to ensure the Website
                can incorporate these Standards, Our Baking Addiction has voluntarily undertaken efforts to comply with
                these Standards and continue to take the steps necessary to achieve substantial conformance to provide a
                positive experience for our community. We are aware of some areas on the Website where we could improve
                accessibility and are working to achieve this and implement the relevant improvements to meet the
                Standards over time. Please note that our Website may link to, or interface with, third party websites
                that we do not control. <br><br>

                This Website is not compatible with older browsers or mobile operating systems that do not support
                current assistive technologies.
            </p>
        </div>
    </div>


    <footer class="footer" style="margin-top: 0%;">
        <div class="footerContainer">
            <div class="row">
                <div class="footerCol">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="../Templates/About Us.html">About Us</a></li>
                        <li><a href="Our Team.html">Our Team</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Terms & Conditions</h4>
                    <ul>
                        <li><a href="../Templates/Accessibility.html">Accessibility</a></li>
                        <li><a href="../Templates/Privacy Policy.html">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Follow Us</h4>
                    <div class="socialLinks">
                        <a href="#"><i class="fab fa-facebook-f"></i></li></a>
                        <a href="#"><i class="fab fa-instagram"></i></li></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></li></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>