<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" type="text/css" href="../Static/styleGeneral.css">
    <link rel="stylesheet" href="../Static/styleContact.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <nav class="navigationBar">
        <div class="logo">
            <img src="../Static/logo without.jpg">
        </div>
        <ul>
            <li><a href="home page.html">Home Page</a><i class="fa fa-solid fa-house"></i></li>
            <li><a href="signIn_Up3.html">Sign In/Log In</a><i class="fa fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><a>Birthday Cakes</a><i class="fa fa-solid fa-cake-candles"></i>
                <div class="subMenu1">
                    <ul>
                        <li><a href="girl cakes.html">Girl Cakes</a></li>
                        <li><a href="boy cakes.html">Boy Cakes</a></li>
                        <li><a href="adult cakes.html">Adult Cakes</a></li>
                        <li><a href="num _ letter cakes.html">Number & Letter Cakes</a></li>
                    </ul>
                </div>
            </li>
            <i class="fa-duotone fa-rings-wedding"></i>
            <li><a>Wedding Cakes</a><i class="fa fa-solid fa-gem"></i>
                <div class="subMenu1">
                    <ul>
                        <li><a href="wedding cakes.HTML">Wedding Cakes</a></li>
                        <li><a href="ring cakes.html">Ring Cakes</a></li>
                        <li><a href="bachlorette party cakes.html">Bachelorette Party Cakes</a></li>
                    </ul>
                </div>
            </li>
            <li><a>Our Classics</a><i class="fa fas fa-chart-pie"></i>
                <div class="subMenu1">
                    <ul>
                        <li><a href="pies.html">Pies</a></li>
                        <li><a href="yeast cakes.html">Yeast Cakes</a></li>
                        <li><a href="special cakes.html">Our Specials</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="Contact Us.html">Contact Us</a><i class="fa fa-solid fa-file-signature"></i>
        </ul>
    </nav>
    <div class="container">
        <div class="contact-box">
            <h2>Privacy Policy</h2>
            <p style="text-align: left; margin: 20px;">Sally’s Baking Addiction, LLC (“we” or “us” or “our”) respects
                the privacy of our users (“user” or “you”). This Privacy Policy explains how we collect, use, disclose,
                and safeguard your information when you visit our website (https://sallysbakingaddiction.com/) or any
                other media form, media channel, mobile website, or mobile application related or connected thereto
                (collectively, the “Website”). Please read this Privacy Policy carefully. <br> <br> IF YOU DO NOT AGREE
                WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE WEBSITE. <br> <br> We reserve the right
                to make changes to this Privacy Policy at any time and for any reason. We will alert you about any
                changes by updating the “revised” date of this Privacy Policy. Any changes or modifications will be
                effective immediately upon posting the updated Privacy Policy on the Website, and you waive the right to
                receive specific notice of each such change or modification. You are encouraged to periodically review
                this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be
                subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your
                continued use of the Website after the date such revised Privacy Policy is posted.</p>
        </div>
    </div>

    <footer class="footer" style="margin-top: 0%;">
        <div class="footerContainer">
            <div class="row">
                <div class="footerCol">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="../Templates/About Us.html">About Us</a></li>
                        <li><a href="Our Team.html">Our Team</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Terms & Conditions</h4>
                    <ul>
                        <li><a href="../Templates/Accessibility.html">Accessibility</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Follow Us</h4>
                    <div class="socialLinks">
                        <a href="#"><i class="fab fa-facebook-f"></i></li></a>
                        <a href="#"><i class="fab fa-instagram"></i></li></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></li></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>