*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Quicksand', sans-serif;
}
.navigationBar{
    background-color: antiquewhite;
    text-align: center;
}
.navigationBar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(248, 166, 179);
}    
.navigationBar ul li{
    width: 140px;
    margin: 15px;
    padding: 15px;
}
.navigationBar ul li a{
    text-decoration: none;
    color: rgb(248, 166, 179);
}
.active, .navigationBar ul li a:hover{
    background: rgba(239, 145, 176,.3);
    border-radius: 3px;
}
.logo img{
    float: left;
    width: 80px;
}
.navigationBar .fa{
    margin-left: 8px;
}
.subMenu1{
    display: none;
}
.navigationBar ul li:hover .subMenu1{
    display: block;
    position: absolute;
    background: rgb(247, 209, 215);
    margin-top: 15px;
    margin-left: -15px;
}
.navigationBar ul li:hover .subMenu1 ul{
    display: block;
    margin: 10px;
}
.navigationBar ul li:hover .subMenu1 ul li{
    width: 140px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navigationBar ul li:hover .subMenu1 ul li a:hover{
    color: rgba(245, 196, 204, 0.5);
}
.footer{
    background-color: antiquewhite;
    padding: 70px 0; 
    position:absolute;
    bottom:0;
    width: 100%; 
    height: 70px;
}
.footerContainer{
    max-width: 1170px;
    margin-left: 35%;
}

.footer ul{
    list-style: none;

}

.footerCol{
    width: 25%;
    padding: 0 15px;

  
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footerCol  h4{
    font-size: 18px;
    color: blueviolet;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}

.footerCol h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: blueviolet; 
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footerCol ul li:not(:last-child){
    margin-bottom: 10px;

}

.footerCol ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footerCol ul li a:hover{
    padding-left: 8px;
}
